Target the bullets inside the swiper-pagination container
.swiper-pagination .swiper-pagination-bullet {
  width: 30px;
  height: 3px;
  border-radius: 0;
  background: transparent;
  border: 1px solid #6e2525;
  box-sizing: border-box;
}

/* For active bullet */
.swiper-pagination .swiper-pagination-bullet-active {
  background: white;
  border: none;
}

.swiper-button-next:after,.swiper-button-prev:after{
  color: WhiteSmoke;

}

.swiper-button-next:after{
  position: absolute;
  right: 40px;
}
.swiper-button-prev:after{
  position: absolute;
  left: 40px;
}

/* Directly targeting SVG path (if inline SVG is used) */
.swiper-button-next svg path, .swiper-button-prev svg path {
  fill: #ff0000; /* Change SVG color */
}