.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-block: 16px;
}
.login-page form{
  display: flex;
  flex-direction: column;
  width: 50%;
}


.login-page  input[type="email"],
.login-page input[type="password"] {
  box-sizing: border-box;
  height: 37px;
  width: 100%;
  border: 1px solid #979797;
  border-radius: 8px;
  margin-block: 8px;
  padding-inline: 12px;
}

.login-page p{
  font-size: 18px;
}

.press-button{
  color: #DC3545;
  margin-block: 8px;
}